# Titanic

## Conteúdo 

**idade**: a idade é fracionária se for menor que 1. Se a idade for estimada, é na forma de xx.5 

Variable|Definition|Key
--|--|--
survival|Survival|0 = No, 1 = Yes
pclass|Status socioeconômico (SES) 1st = Upper 2nd = Middle 3rd = Lower|1 = 1st, 2 = 2nd, 3 = 3rd
sex|Sexo|
Age|Idade em anos|
sibsp|# Relações familiares | Sibling = irmão, irmã, meio-irmão, meia-irmã. Spouse = marido, esposa (amantes e noivos foram ignorados)
parch|# Relações familiares| Parent  = mãe, pai. Child = filha, filho, enteada, enteado Algumas crianças viajavam apenas com uma babá, portanto parch = 0 para elas
ticket|Número do Ticket|
fare|Tarifa de passageiro|
cabin|Número da Cabine|
embarked|Local do Embarque|C = Cherbourg, Q = Queenstown, S = Southampton

## Carregando bibliotecas

## Abrindo o Arquivo

In [1]:
df = read.csv('../datasets/titanic/train.csv')

head(df, n = 10)

   PassengerId Survived Pclass
1   1          0        3
2   2          1        1
3   3          1        3
4   4          1        1
5   5          0        3
6   6          0        3
7   7          0        1
8   8          0        3
9   9          1        3
10 10          1        2
   Name                                                Sex    Age SibSp Parch
1  Braund, Mr. Owen Harris                             male   22  1     0
2  Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3  Heikkinen, Miss. Laina                              female 26  0     0
4  Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5  Allen, Mr. William Henry                            male   35  0     0
6  Moran, Mr. James                                    male   NA  0     0
7  McCarthy, Mr. Timothy J                             male   54  0     0
8  Palsson, Master. Gosta Leonard                      male    2  3     1
9  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   female 27  0     2
10 Nasser, Mrs. Nicholas (Adele Achem)                 female 14  1     0
   Ticket           Fare    Cabin Embarked
1  A/5 21171         7.2500       S
2  PC 17599         71.2833 C85   C
3  STON/O2. 3101282  7.9250       S
4  113803           53.1000 C123  S
5  373450            8.0500       S
6  330877            8.4583       Q
7  17463            51.8625 E46   S
8  349909           21.0750       S
9  347742           11.1333       S
10 237736           30.0708       C

## Informações do DataFrame

In [2]:
str(df)

'data.frame':	891 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 891 levels "Abbing, Mr. Anthony",..: 109 191 358 277 16 559 520 629 417 581 ...
 $ Sex        : Factor w/ 2 levels "female","male": 2 1 1 1 2 2 2 2 1 1 ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 681 levels "110152","110413",..: 524 597 670 50 473 276 86 396 345 133 ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : Factor w/ 148 levels "","A10","A14",..: 1 83 1 57 1 1 131 1 1 1 ...
 $ Embarked   : Factor w/ 4 levels "","C","Q","S": 4 2 4 4 4 3 4 4 4 2 ...

## Tamanho do DataFrame (linhas, colunas)

In [3]:
dim(df)

[1] 891  12